<!doctype html>
<html lang='en' class='no-js {{ page.html_class }}'>
<head>
  {% include meta.html %}
  {% include polyfills.html %}
  <meta name="twitter:card" content="summary_large_image">
  <meta content='https://raw.githubusercontent.com/spinkney/cheatsheets/master/_docs/images/preview.png' property='twitter:image'>
  <style>html{opacity:0}</style>
  <link rel="stylesheet" href="{{base}}/assets/2015/style.css?t={{ timestamp }}">
  <link href="{{base}}/assets/style.css?t={{ timestamp }}" rel="stylesheet" />
  <link href="{{base}}/assets/print.css?t={{ timestamp }}" rel="stylesheet" media="print" />
</head>
<body>
<div class='all'>
